*{

}

.form-control {
    margin: 1%;
    border-radius: 1%;
    display: block
}

.book {
    height: 50%;
    display:inline-block;   
    border:1px solid rgb(127, 159, 247);
}

.libCon {
    width: 100%;
}

.container {
    width: 100%;
    height:100%
}

.row {
    margin: 0 auto;
    height:80%;
    width:100%
}

.rectangle-box{
    position: relative;
    width: 25%;
    overflow: hidden;
    background: #4679BD;
}
.rectangle-box:before{
    content: "";
    display: block;
    padding-top: 75%;
}



