.search-con {
    text-align: center
}
input {
    margin:1%
}
.form-control {
    margin: 1%;
    border-radius: 1%;
    display: block
}

.book {
    height: 50%;
    display:inline-block;   
}

.libCon {
    width: 100%;
}

.container {
    width: 100%;
    height:100%
}

.row {
    margin: 0 auto;
    height:80%;
    width:100%
}

.rectangle-box{
    position: relative;
    width: 15%;
    margin: 0 1%;
    overflow: hidden;
    background: #4679BD;
}
.rectangle-box:before{
    content: "";
    display: block;
    padding-top: 130%;
}

a {
    color:black;
}

a:hover{
    text-decoration: none;
}

.bookBasics {
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    color: white;
}

.bookBasics:hover {
    background: rgb(40, 40, 51);
    opacity: .9
}

.book{
    background-size: cover;
    background-position: center
}



